.footer {
    text-align: center;
    padding: 2rem;
    background-color: #f8f9fa; /* Light gray */
    color: #333;
    margin-top: auto; /* Push footer to the bottom */
  }
  
  .footer p {
    margin: 0;
  }